section{
    text-align: center;
}

.game-container{
    display: grid;
    grid-template-columns: repeat(3,auto);
    width: 380px;
    margin: auto;
    
}
 

 .cell{
    width: 150px;
    height: 150px;
    border: 1px solid black;
    box-shadow: 0 0 0 1px black;
    cursor: pointer;
    line-height: 100px;
    font-size: 40px;
    position: relative;
    

}